.slider-container {
  /*background-image: url('/../react-phonebook/public/images/tim-navis.jpg'); to access the "public" folder */
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.slider {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  perspective: 1000px; /* for the 3D effect */
}

.card {
  width: 26.5%;
  
  height: 75vh;
  max-height: 75vh;
  
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 30px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.6; /* Default opacity for non-active cards */
  text-align: left;
  z-index: 1;

  margin: 0 7px; /* horizontal space between cards */
  background-size: cover;
  background-position: center;
}

.card.active {
  transform: scale(1.05) translateZ(0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  opacity: 1; /* Full opacity for the active card */
  z-index: 3; /* On top */
  background-size: cover;
  background-position: center;
}

.card.prev, .card.next {

  transform: scale(0.9) translateZ(-50px);
  z-index: 2; /* On top */

  background-size: cover;
  background-position: center;

  /* Overlay for background image */
  position: relative;
  color: #f0f0f0;
}

.card-header-contact-detail {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.card-header-contact-detail h2 {
  align-items: center;
  margin: 0;
  font-size: 24px;
  color: #333;
}

.nav-button {
  position: absolute;
  width: 6%;
  height: 8%; 
  line-height: 60%;
  top: 50%;
  transform: translateY(-50%);
  background: repeating-linear-gradient(to right, #8DECB4, #7ED7C1 3px);
  opacity: 0.8;
  color: #1C1427;
  border: 2px solid #31363F; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(83, 162, 190, 0.5); /* Soft shadow with a glow */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 7.5px;
  font-size: 25px;
  cursor: pointer;
  z-index: 1;
}

.nav-button.left {
  left: 46px;
}

.nav-button.right {
  right: 46px;
}
.nav-button:hover {
  border: 2px solid #F6F5F2;
  background: repeating-linear-gradient(to right, #3C2A21, #1A120B 3px);
  color: #F3F8FF;
}


.card-header-contact-detail {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 10px; 
  position: relative; 
}

.card-header-contact-detail h2 {
  margin: 0 auto; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5rem; 
}

.delete-icon {
  cursor: pointer;
  color: red;
  font-size: 1.75rem; 
  position: relative;
  margin-left: auto;
  z-index: 1;
}

.delete-icon:hover {
  color: #e5dcc5;
}

/* Success message container */
.success-message-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Success message box */
.success-message {
  background-color: #4caf50;
  color: #fff; 
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-out 2.5s;
}

.contact-details-title {
 
  position: absolute;
  top: 20px; 
  left: 20px; 
  color: #e5dcc5;
  z-index: 100; 
  margin: 0;
  padding: 10px;
  border-radius: 7px;
  background: repeating-linear-gradient(to bottom, #4c4c47, #969a97 3px);
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 

  font-family: 'Papyrus'; 
  font-size: 27px; 
  font-style: italic; 
  letter-spacing: 1px; 
}

.quote-text {
  overflow-y: auto; 
}

.quote-text::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

.quote-text::-webkit-scrollbar-thumb {
  background-color: #191919; /* Scrollbar color */
  border-radius: 5px;
}

.quote-text::-webkit-scrollbar-thumb:hover {
  background: repeating-linear-gradient(to top, #C73659, #A91D3A 3px);
}
