.home-container {
  position: relative;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #a28089; Dark Sand as a fallback color */
}

.background-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.background-layer.layer-one {
  background: repeating-linear-gradient(to right, #EEEEEE, #76ABAE 3px);
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
}

.background-layer.layer-two {
  background: repeating-linear-gradient(to right,#76ABAE, #31363F 3px);
  clip-path: polygon(50% 0, 25% 0, 25% 100%, 50% 100%);
}

.background-layer.layer-three {
  background: repeating-linear-gradient(to right, #31363F, #222831 3px);
  clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
} 

.background-layer.layer-four {
  background: repeating-linear-gradient(to right, #222831, #000100 3px);
  clip-path: polygon(100% 0, 75% 0, 75% 100%, 100% 100%);
}

.home-container h1 {
  font-size: 2.5rem;
  color: #040404;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

.left-container {
  display: flex;
  justify-content: flex-start;
}

.right-container {
  display: flex;
  justify-content: flex-end;
}

.bottom-container {
  display: flex;
  justify-content: center;
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  background: #262626; /* Button color */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.home-btn:hover {
  background-color: #628078;
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
}

.view-contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-name-input {
  padding: 12px 20px;
  border: 2px solid #607D8B; /* Border color matching button */
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s ease; /* Smooth transition */
}

.contact-name-input:focus {
  border-color: #455A64; /* Darker border color on focus for better visibility */
}

@media (max-width: 768px) {
  .home-container {
    padding: 20px;
  }

  .home-btn {
    padding: 12px 20px;
    font-size: 0.9rem;
  }

  .contact-name-input {
    font-size: 0.9rem;
  }
}
